<!DOCTYPE html>
<html lang="pt_BR">
<%- include('partials/head.ejs', { page_title: 'Walter Blog', image: 'teste', title: 'Meu Blog', description: 'Meus pensamentos sobre tecnologia', type: 'website' }) %>

<body>
    <div class="container">
        <%- include('partials/header.ejs') %>
        <main id="blog">
            <section class="row">
                <%- include('partials/aside.ejs') %>
                <article class="col-12 col-md-8 my-3">
                    <% for (post of posts) { %>
                    <div class="card p-0 border border-secondary mb-3">
                        <div class="post">
                            <img src="<%= post.thumb %>" alt="article-pic" style="width: 120px; height: 80px"
                                class="float-left img-thumbnail bg-info rounded m-3">

                            <div class="card-header">
                                <a href="/blog/<%= post.title.replace(/ /g, '%20') %>"
                                    class="lead"><%= post.title %></a>
                                <small><%= post.created_at.toLocaleDateString() %></small>
                            </div>
                            <div class="card-body">
                                <span><%= post.description %></span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </article>
            </section>
        </main>
    </div>
</body>

</html>