<!DOCTYPE html>
<html>
<%- include('head.ejs', { page_title: 'Walter Blog', image: 'teste', title: 'Meu Blog', description: 'Meus pensamentos sobre tecnologia' }) %>

<body>
    <div class="container">
        <%- include('header.ejs') %>
        <main id="blog" class="p-3">
            <section class="row">
                <%- include('aside.ejs') %>
                <article class="col-12 col-md-9">
                    <% for (post of posts) { %>
                    <div class="card p-0 border border-secondary">
                        <div class="post">
                            <img src="<%= post.thumb %>" alt="article-pic" style="width: 120px; height: 80px"
                                class="float-left img-thumbnail bg-info rounded m-3">

                            <div class="card-header">
                                <a href="/blog/<%= post.title.replace(/ /g, '%20') %>"
                                    class="lead"><%= post.title %></a>
                            </div>
                            <div class="card-body">
                                <span><%= post.description %></span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </article>
            </section>
        </main>
    </div>
</body>

</html>