<!DOCTYPE html>
<html lang="pt_BR">
<%- include('partials/head.ejs', { page_title: `Walter Blog - ${title}`, image: image, title: title, description: description, type: 'article' }); %>

<body>
    <div class="container">
        <%- include('partials/header.ejs') %>
        <main id="blog">
            <section class="row">
                <%- include('partials/aside.ejs') %>
                <article class="col-12 col-md-8 my-3">
                    <div id="post" class="border border-secondary rounded p-3">
                        <h1><%= title %></h1>
                        <small class="bg-secondary text-light"><%= pub.toLocaleDateString() %></small>
                        <small class="bg-secondary text-light"><%= description %></small>
                        <%- post %>
                    </div>
                </article>
            </section>
    </div>
    </div>
</body>

</html>